.commitPreview {
    display: flex;
    margin-top: 12px;
}

.commitPreviewContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursorBlinking {
    display: flex;
    color: rgb(var(--white-rgb));
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.commitHistory {
    margin: 0 0 12px;
    border-radius: 6px;
    border: 1px solid rgb(var(--background-start-rgb));
}

.commitHeader {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 0;
}

.commitHeader > h3 {
    margin-left: 12px;
    font-weight: 700;
}

.commitItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    max-width: 500px;
}

.commitItem > .techStackIcon {
    display: flex;
    margin: .5rem .5rem 0 0;
}

.commitDetails {
    display: flex;
    flex-direction: column;
    margin: .25rem 0;
}

.commitDetails > hr {
    margin: 2px 1rem;
}

.commitChanges {
    display: flex;
    flex-direction: row;
}

.commitChanges > p {
    margin-right: 12px;
}

.commitMessage {
    color: rgb(var(--orange-rgb));
}

.commitDate {
    font-style: italic;

}

.code {
    font-weight: 300;
    font-family: var(--font-mono);
}

.codeEmph {
    font-weight: 700;
    font-family: var(--font-mono);
}